@model List<ExChangeViewModel.Exchange_Rates>
@{
    Layout = null;
}

<link href="c:\users\lenovo\source\repos\casgem_rapid_api\casgem_rapid_api\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />

<form method="get">
    <label>Döviz kuru kodu:</label>
    <input type="text" name="x" />
    <button class="btn btn-warning">Getir</button>
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Döviz</th>
            <th>Miktar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.currency</th>
                <th>@item.exchange_rate_buy</th>
            </tr>
        }

    </table>
</div>
</form>

