
@{
    Layout = null;
}

<div class="container">
    <br /><br />
    <form method="post">
    <div class="row">
        <div class="col-md-6">
        <input type="text" name="adult" class="form-control" placeholder="Yetişkin Sayısı" />
    </div>
   
     <div class="col-md-6">
        <input type="text" name="child" class="form-control" placeholder="Çocuk Sayısı" />
        </div>
        <div class="col-md-6">
            <input type="text" name="checkindate" class="form-control" placeholder="Giriş Tarihi" />
        </div>
        <div class="col-md-6">
            <input type="text" name="cheackoutdate" class="form-control" placeholder="Sonuç Tarihi" />
        </div>
        <div class="col-md-6">
            <input type="text" name="roomnumber" class="form-control" placeholder="Oda Sayısı" />
        </div>
        <div class="col-md-6">
            <input type="text" name="cityId" class="form-control" placeholder="Şehir Id" />
        </div>
        <button class="btn btn-primary">Hotel Ara</button>

        </div>
    </form>